table {
  width: 100%;
}

td.mat-column-delete {
  cursor: pointer;
}

button {
  margin: 20px;
  padding: 5px;
  max-width: 120px;
  align-self: flex-end;
}

:host {
  display: flex;
  flex-direction: column;
}
